@font-face {
  font-family: slowplay;
  src: url(./assets/Slowplay-Regular.ttf) format('truetype'),
}

@font-face {
  font-family: charismamountain;
  src: url(./assets/Charisma-Mountain.otf) format('opentype'),
}

@font-face {
  font-family: candyplanet;
  src: url(./assets/Candy-Planet.ttf) format('truetype'),
}

body {
  background-color: #f0f4f8;
  color: #333;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.app {
  padding: 20px;
  font-family: charismamountain;
}

.header {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  max-width: 600px;
  margin: 0 auto 20px auto;
}

.doodle-img {
  width: 140px;
  position: absolute;
}

.doodle-img.left {
  left: 20px;
  top: -78px;
}

.doodle-img.right {
  right: 0px;
  top: -78px;
}

.total-reset {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  max-width: 600px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 40px);
  gap: 6px;
  max-width: 600px;
  margin: 0 auto;
  justify-content: center;
}

.box {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.15s ease;
  background-color: #98ce88;

  display: flex;
  align-items: center;
  justify-content: center;
}

.box.saved {
  background: #5b7e57; /* green */
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 40px;
  font-size: 18px;
}

.cat-img {
  width: 160px;
}

@media screen and (max-width: 560px) {
  .header-text {
    max-width: 200px;
    margin: 32px auto;
  }
}