@font-face {
	font-family: slowplay;
	src: url(./assets/Slowplay-Regular.ttf) format("truetype");
}

@font-face {
	font-family: charismamountain;
	src: url(./assets/Charisma-Mountain.otf) format("opentype");
}

@font-face {
	font-family: candyplanet;
	src: url(./assets/Candy-Planet.ttf) format("truetype");
}

body {
	/* background-color: #d8b6e1; */
  background: linear-gradient(135deg, #e5c1ed 0%, #87678c 100%);
	color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
	background: none;
	border: none;
	cursor: pointer;
}

.app {
	font-family: charismamountain;
}

.header {
	font-size: 24px;
	margin-bottom: 20px;
	text-align: center;
	position: relative;
	max-width: 600px;
	margin: 80px auto 20px auto;

	animation: fadeIn 0.6s ease-in-out;
}

.header-text {
  color: rgb(243, 243, 243);
}

.doodle-img {
	width: 140px;
	position: absolute;
}

.doodle-img.left {
	left: 20px;
	top: -78px;
}

.doodle-img.right {
	right: 0px;
	top: -78px;
}

.doodle-img.photo1 {
  width: 130px;
	right: 24px;
	top: -84px;
}

.doodle-img.photo2 {
	left: 0px;
  top: 58px;
  z-index: -1;
}

.doodle-img.photo3 {
	right: 28px;
  top: 150px;
  z-index: -1;
}

.doodle-img.photo4 {
  width: 70px;
  transform: scaleX(-1);
	left: 84px;
  top: -54px;
  z-index: -1;
}

.doodle-img.photo42 {
  width: 60px;
	right: 38px;
  top: 40px;
  z-index: -1;
}

.doodle-img.photo5 {
	right: 28px;
  top: 64px;
  z-index: -1;
}

.doodle-img.photo6 {
  width: 54px;
	right: 38px;
  top: 44px;
  z-index: -1;
}

.total-reset {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 20px 0 20px;

	max-width: 600px;
	margin: 0 auto;

	animation: fadeIn 0.6s ease-in-out;
}

.grid-container {
	/* background-image: url("./assets/menabung-bg1.png"); */
	repeat: no-repeat;
	background-size: cover;
	background-position: center;
  padding: 20px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, 40px);
	gap: 6px;
	max-width: 600px;
	margin: 0 auto;
	justify-content: center;

	animation: fadeInBottom 0.6s ease-in-out;
}

.box {
	width: 40px;
	height: 40px;
	border: 2px solid #6f537f;
	cursor: pointer;
	border-radius: 4px;
	transition: background 0.3s ease;
	background-color: #6f537f;

	display: flex;
	align-items: center;
	justify-content: center;
}

.box.saved {
	/* background: #7e577d; */ 
  background: #483653;
  border: 2px solid #483653;
}

.box-text {
  color: #eeeeee;
  transition: color 0.3s ease;
}

.box.saved .box-text {
  color: #b0b0b0;
}

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;

  padding: 20px;
	margin-top: 40px;
	font-size: 18px;

	animation: scaleIn 0.6s ease-in-out;
}

.cat-img {
	width: 160px;
}

.reset-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 300px;
}

.modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.confirm, .cancel {
  background: #6f537f;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  font-family: inherit;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeInBottom {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes scaleIn {
	from {
		opacity: 0;
		transform: scale(0.9);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@media screen and (max-width: 560px) {
  .grid-container {
    /* background-image: url('./assets/menabung-mobile-3.png'); */
  }
	.header-text {
		max-width: 200px;
		margin: 32px auto;
	}
}
